/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 40px;
}

.navbar-default {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.navbar-default .navbar-brand {
    color: #f1f2f7;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.container-fluid .text-muted {
  margin: 15px 0;
}

.panel-default > .panel-heading {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.input-group-addon {
    background-color: #5bc0de;
    border: 1px solid #46b8da;
    border-radius: 4px;
    color: #f1f2f7;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.btn-tambah {
	margin-top: -7px;
}

.center {
	text-align: center;
}

.pagination {
	margin-top: -20px;
}

.btn-submit {
	width: 80px;
}

.btn-reset {
	width: 80px;
	margin-left: 10px;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);

/* Colors */

$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body {
  font-family: Raleway, sans-serif;  
  background-color: #fff;
}

footer {
  width: 100%;
  display: inline-block;
  margin: 2em 0;
  height: 70px;
  background-color: #999;
  .copyright {
    width: 50%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
      width: 50%;
      float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
     a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold; 
      @include transition(all, 0.3s);
       &:hover {
         background-color: #222;
         @include transition(all, .3s);
       }
    }
  }
}

.linked {
  background-color: $dk-blue;
  font-size: $social-size;
  width: $social-width;
}

.face {
  background-color: $blue;
  font-size: $social-size;
  width: $social-width;
}

.tweet {
  background-color: $light-blue;
  font-size: $social-size;
  width: $social-width;
}

.support {
  background-color: $green;
  font-size: 0.8em;
  width: 40%;
}
